@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Single+Day&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
}
.imgAnavcontainer{
    width: 100%;
    /* height: 20rem; */

}


#sukNavbar{
    position: fixed;
    z-index: 2;
    height: 4.098rem;
    /* border: 1px solid; */
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.329);
}

#logoImg{
    height: 5rem;
    position: relative;
    left: 1.1em;
}

.contact{
    width: 100%;
    height: 70%;
    position: relative;
    display: inline-block;
}


.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100.4%;
    background: linear-gradient(359.31deg, rgba(4, 118, 123, 0.73) 41.28%, rgba(4, 118, 123, 0) 99.42%);
}

#contactImg{
    display: block;
    width: 100%;
    height: 50.3rem;
}

.contentImg{
    position: absolute;
    letter-spacing: 0.08em;
    font-size: 50px;
    top: 40%;
    left: 42.4%;
    color: #FDD400C9;
    font-weight: 200;
    font-family: 'Be Vietnam Pro';
}






/* Second page */

.contactContainer{
    display: flex;
    /* border: 1px solid red; */
    height: 47.1rem;
    flex-direction: column;
}

.firstText,.secText{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    height: 50%;
    /* border: 1px solid red; */
    width: 100%;
}

.buildCol,.contactCol{
    display: flex;
    height: 10rem;
    width: 10rem;
    /* border: 1px solid red; */
    border-radius: 10000000px;
    background: linear-gradient(130.9deg, #04767B 16.46%, rgba(4, 118, 123, 0) 218.18%);
    justify-content: center;
    align-items: center;
    /* background-color: #e9e9e9; */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.buildCol:hover {
    box-shadow: 0 0 10px #000000;
    transform: scale(1.1);
    filter: brightness(95%);
  }
.contactCol:hover {
    box-shadow: 0 0 10px #000000;
    transform: scale(1.1);
    background: linear-gradient(130.9deg, #024d51 16.46%, rgba(2, 77, 81, 0) 218.18%);
  }





.building{
    height: 5rem;
    width: 5rem;
}

#para1,#para2{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 28px;
    color: #4d440d;
}

.secText{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#F0F0F0 ;
}


@media only screen and (max-width: 768px) {
    .contentImg {
      font-size: 30px;
      /* left:2rem ; */
      left: 32.4%;
    }
}

@media only screen and (max-width:767px) {
    .buildCol,.contactCol{
        height: 5rem;
        width: 5rem;
    }

    #para1{
        position: relative;
        letter-spacing: 0.01em;
        font-weight: 300;
        font-size: 10.8px;
        line-height:2;

    }

    .colImg{
        border-radius: 10000000px;
        height: 2rem;
        width: 2rem;
    }

    #building{
        height: 3rem;
        width: 3rem;
    }

}
/* Page 3 CSS */
.mapContainer{
    display: flex;
    width: 100%;
    height: 47.1rem;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#para3{
    font-family: 'Be Vietnam Pro';
    color:rgba(38, 32, 0, 0.36);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

@media only screen and (max-width:767px){
    .map{
        height: 10rem;
        width: 40rem;
    }
}
@media only screen and (max-width:467px){
    .map{
        height: 4rem;
        width: 22rem;
    }
}

/* footer */

.footer{
    /* font-family: 'Be Vietnam Pro'; */
    width: 100%;
    height: 25rem;background-color: #006468;
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-top: 6rem;
}

#head{
    font-family: 'Be Vietnam Pro';

    /* margin-top: 2rem; */
    font-size: 30px;
    letter-spacing: 0.08em;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

#para4{
    font-family: 'Arial';
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}
.linkOtherPages{
    font-family: 'Be Vietnam Pro';
    font-style: normal; 
       position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    height: 12rem;
    top: 2.9rem;
}

a{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-weight: 200;
}

.social_media{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    /* display: flex; */
}

.footer_headings{
    font-size: 22px;
}

.socialmedia{
    display: flex;
    flex-direction: row;
}

svg{
    height: 3rem;
    margin-left: 1rem;
    position: relative;
    right: 1.3rem;
}

@media screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding-top: 3rem;
    }
  
    #head {
      font-size: 24px;
      margin-top: 1rem;
    }
  
    #para4 {
      font-size: 12px;
      line-height: 20px;
    }
  
    .linkOtherPages {
      flex-direction: row;
      justify-content: center;
      height: auto;
      top: 0;
      margin-top: 2rem;
    }
  
    a {
      margin: 0 10px;
    }
  
    .social_media {
      margin-top: 2rem;
    }
  }

